/* === Responsive Design pour Mobile === */

@media (max-width: 768px) {

  #presentation {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
    text-align: center;
  }

  .content-wrapper {
    flex-direction: column;
    padding: 40px 20px;
    gap: 30px;
  }

  .content-box-presentation,
  .content-box-competences {
    max-width: 90%;
    border-width: 20px;
    align-items: center;
    text-align: center;
  }

  .content-box-presentation h1,
  .content-box-competences h1 {
    font-size: 2em;
    text-align: center;
  }

  .image-container img {
    max-width: 80%;
    border-radius: 20%;
  }

  #top-bar {
    flex-direction: column;
    gap: 10px;
    padding: 12px 16px;
    font-size: 1em;
    text-align: center;
  }

  .left-text,
  .right-text {
    max-width: 100%;
    text-align: center;
    white-space: normal;
  }

  .right-text {
    text-align: center;
  }

  .scroll-container {
  width: 400%;
  margin-top: -700px;
  }

  .scroll-list {
    gap: 30px;
    padding: 20px 10px;
  }

  button.contact-top-bar {
    padding: 10px 16px;
    font-size: 1em;
  }
}
