#presentation {
  display: flex;
  justify-content: flex-start; /* aligné à gauche horizontalement */
  align-items: center;         /* centré verticalement */
  min-height: 100vh;           /* hauteur pleine de la fenêtre */
  padding-left: 50px;          /* laisse un peu d’espace à gauche */
  box-sizing: border-box;
}

/* Bouton de contact */

button.contact-top-bar {
  background: rgb(26, 129, 0);
  border-style: solid;
  border-width: 0 10px 0 10px;
  border-color: rgb(26, 129, 0);
  color: #ffffff;
  font-size: 0.9em;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 999px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

button.contact-top-bar:hover {
  background: rgb(16, 100, 0);
  border-color: rgb(16, 100, 0);
  transform: scale(1.05);
}


/* Top-bar */

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(46, 46, 46, 0.582);
  color: #ffffff;
  padding: 16px 24px;
  font-size: 1.2em;
  z-index: 1000;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(128px);
  border-bottom: 1px solid rgb(156, 156, 156);
  box-sizing: border-box;

  transition: transform 0.3s ease;
  transform: translateY(0);
}

#top-bar.hide {
  transform: translateY(-100%);
}

/* Alignement du texte */

.left-text,
.right-text {
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.right-text {
  text-align: right;
}

/* Encadrée de présentation */

.content-box-presentation {
    max-width: 500px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border: 30px solid #ffffff;
    transition: opacity 1s, transform 0.3s cubic-bezier(.4,2,.3,1), box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.content-box-presentation:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0,0,0,0.18);
    z-index: 2;
}

/* Image de profil */

/* Conteneur global des deux éléments */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 50px;
  box-sizing: border-box;
}

/* Texte à gauche */
.intro {
  flex: 1;
  text-align: left;
  padding: 40px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Image à droite */
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.image-container img {
  max-width: 50%;
  height: auto;
  border-radius: 16px;
}






